
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header, nav, footer {
    background: linear-gradient(to bottom, #4e739a, #0056b3); /* Gradiente azul */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

nav a.active {
    background-color: #59728c;
}

nav a:hover {
    background-color: #49698a;
}

main {
    padding: 20px 0;
}

.perfil-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.avatar {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.perfil-details {
    text-align: left;
}

.perfil-details p {
    margin-bottom: 10px;
}

.perfil-details ul {
    padding: 0;
    margin-bottom: 10px;
}

.perfil-details ul li {
    list-style-type: none;
}

.perfil-details h3 {
    margin-bottom: 10px;
}

.perfil-details a {
    color: #687a8c;
    text-decoration: none;
    transition: color 0.3s ease;
}

.perfil-details a:hover {
    color: #3d5874;
}

footer {
    background: linear-gradient(to bottom, #495e74, #0056b3); /* Gradiente azul */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}